.c-section__title {
    font-size: 4em;
}

#l-form__message {
    width: 100%;
}

.l-section__letter {
    position: absolute;
    height: 100%;
    width: 100%;
}

.l-section__letter:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.c-section__letter {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    transform: translate(55%, -50%);
    font-size: 100vh;
    opacity: .12;
}

.l-section__letter:first-child > .c-section__letter {
    z-index: 1;
    opacity: 1; 
}

#l-form {
    margin: 50px 200px;
    width: 300px;
}

.l-form__input {
    position: relative;
}

.l-form__input > label {
    position: absolute;
    font-weight: 300;
    font-size: .8em;
    top: 50%;
    left: 0;
    color: #625c5c;
    transform: translate(calc(-100% - 15px), -50%);
}

.l-form__field, input[type='submit'], textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 13px 0;
    padding: 10px 13px;
}

.l-form__field {
    background-color: transparent;
    border: 1px solid #625c5c;
    border-left: 7px solid #625c5c;
}

.l-form__select {
    width: 100%;
    font-weight: 300;
}

.l-form__input__color {
    height: 40px;
}

.l-form__field:focus {
    border-color: #fc644c;
}

.l-form__field:focus + label {
    color: #fc644c;
}

input[type='submit'] {
    background-color: #fc644c;
    color: #ffffff;
    width: 100%;
}

.l-form__multi-field {
    position: relative;
    max-width: 100%;
}

.l-form__multi-field > .l-form__field:first-child {
    margin-left: 0;
}

.l-form__multi-field > .l-form__field:last-child {
    margin-right: 0;
}

.l-form__multi-field > .l-form__field {
    margin-left: 20px;
    /* margin-right: 20px; */
    justify-content: space-between;
    flex-grow: 1;
    min-width: 0; 
}

.c-form__message {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid #fc644c;
}

.c-form__message[data-state='hide'] {
    opacity: 0;
    pointer-events: none;
}

.c-form__message[data-state='appear'] {
    opacity: 1;
    pointer-events: visible;
}