#l-section__title-art {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 30em;
    opacity: .2;
}

#l-section__item {
    position: relative;
    margin: 75px 150px;
}

#c-item__title {
    position: relative;
    font-size: 5em;
}

#c-item__rectangle-art {
    position: absolute;
    height: 57.5%;
    width: 200px;
    background-color: #fc644c;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 30px), -57.5%);
}

.c-operation__select {
    box-sizing: border-box;
    min-width: 200px;
    margin: 13px 0;
    padding: 8px 13px;
    background-color: transparent;
    border: 1px solid #fc644c;
}

.c-operation__icon {
    height: 25px;
    margin: 0 10px;
}

#l-item__table {
    font-family: mont;
    border-spacing: 5px;
}

#l-item__table th {
    background-color: #fc644c;
    padding: 8px 21px;
    font-size: .8em;
    font-weight: 400;
    color: #ffffff;
}

#l-item__table td {
    font-size: .8em;
    font-weight: 300;
    color: black;
    padding: 10px 21px;
}

#l-item__table th,
#l-item__table td {
    text-align: center;
}

#l-item__table tr {
    position: relative;
}

#l-item__table tr:nth-child(even) {
    background-color: rgba(245, 147, 132, 0.342);
}

#l-item__table #c-table__nama {
    min-width: 200px;
}

#l-item__table #c-table__category {
    min-width: 200px;
}

.l-circle-art {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% - 10px), -50%);
}

.c-circle-art:first-child {
    margin-left: 0;
}

.c-circle-art {
    position: relative;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: #fc644c;
    border-radius: 50%;
    color: #ffffff;
}

