* {
    text-decoration: none; 
    border: none;
}

*[data-state='lost'] {
    display: none;
}

*[data-state='active'] {
    display: block;
}

body {
    margin: 0;
    background-color: #ffffff;
    overflow-y: hidden;
}

html, body {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

section {
    position: relative;
    height: auto;
    width: 100vw;
    min-height: calc(100vh - 70px);
}

h1, h2, h3, h4, h5, p, label, input, textarea, select, option, li {
    font-family: mont;
    color: #fc644c;
    margin: 0;
}

ul {
    margin: 8px;
    padding-left: 20px;
}

li {
    position: relative;
    list-style-type: none;
    margin: 4px 0;
}

textarea {
    resize: none;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: 1px;
}

input {
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    font-weight: 500;
    font-size: 1.5em;
}

h2 {
    font-weight: 400;
    font-size: 1.2em;
}

h3, p {
    font-weight: 300;
    font-size: .9em;
}

h4 {
    font-weight: 200;
    font-size: .8em;
}

h5 {
    font-size: .7em;
    font-weight: 100;
}

a, button, input[type="checkbox"], input[type="submit"] {
    pointer-events: visible;
    cursor: pointer;
    color: #fc644c;
}

a:focus, {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
}

label {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

p {
    font-size: .9em;
    margin: 5px 0;
}

input[type="checkbox"] {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.h-animation-config {
    transition-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
    transition-duration: 1.5s; }

.l-flex--row-wrap {
    display: flex;
    flex-flow: row wrap; }
  
.l-flex--row-nowrap {
display: flex;
flex-flow: row nowrap; }

.l-flex--column-wrap {
display: flex;
flex-flow: column wrap; }

.l-flex--column-nowrap {
display: flex;
flex-flow: column nowrap; }

.l-flex--center-center {
justify-content: center;
align-items: center; }

@font-face {
    font-family: mont;
    src: url('../fonts/Mont-Light.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: mont;
    src: url('../fonts/Mont-Regular.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: mont;
    src: url('../fonts/Mont-Bold.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: mont;
    src: url('../fonts/Mont-Heavy.ttf') format('truetype');
    font-weight: 500;
}