#l-form {
    width: 650px;
}

#l-form__addresses {
    position: relative;
    width: 100%;
}

#l-form__addresses > label {
    position: absolute;
    font-weight: 300;
    font-size: .8em;
    top: 25px;
    left: 0;
    color: #625c5c;
    transform: translate(calc(-100% - 15px), 0);
}

#l-form__address-adder {
    justify-content: flex-start;
    position: relative;
    margin: 10px 0;
}

.l-form__address > .c-address-updater__circle-art {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 10px), -50%);
}

.c-address-updater__circle-art {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fc644c;
    color: #ffffff;
}

#l-form__address-adder > label {
    margin-left: 10px;
    position: relative;
}