#l-section[data-state='move-right'], 
#l-navbar[data-state='move-right'] {
    transform: translate(300px, 0);
}

#l-menu[data-state='move-right'] {
    transform: translate(0, 0);
}

#l-menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #f4f4f4;
    transform: translate(-100%, 0);
    pointer-events: none;
}

#c-wall {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100vw;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
}

#c-wall[data-state='appear'] {
    opacity: .92;
    transform: translate(300px, 0);
    pointer-events: visible;
    cursor: pointer;
}

#l-navbar {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #f4f4f4;
}

#c-navbar__menu-back-button {
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 30px;
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.l-navbar__box {
    height: 100%;
}

#c-navbar__menu-button {
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

#c-navbar__logo {
    width: 100px;;
    background-color: #fc644c;
}

#c-navbar__logo > h1 {
    color: #ffffff;
}

#l-navbar__right-side {
    justify-content: flex-end;
    flex-grow: 1;
}

#c-navbar__auth {
    padding: 0 30px 0;
    border-left: 1px solid rgba(0, 0, 0, .12);
}

#l-navbar__content {
    box-sizing: border-box;
    padding: 30px;
}

#l-navbar__content .c-list__title {
    font-weight: 200;
    font-size: 1.2em;
}

#l-navbar__content .c-list__link {
    font-weight: 300;
    font-size: 1em;
}

#l-navbar__content a:hover {
    transform: translate(10px, 0);
}

.l-auth {
    padding: 0 20px;
}