#l-profile {
    position: relative;
    margin: 50px 200px;
    width: 700px;
}

.l-profile__tuple {
    box-sizing: border-box;
    position: relative;
    flex-grow: 1;
    /* flex-shrink: 1; */
}

.l-profile__tuple > label, #l-profile__addresses > label {
    position: absolute;
    font-weight: 300;
    font-size: .8em;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 15px), -50%);
}

#l-profile__addresses {
    position: relative;
}

#l-profile__addresses > label {
    top: 30px;
}

.l-profile__multi-field {
    width: 100%;
}

.l-profile__multi-field > .l-profile__tuple {
    margin-left: 20px;
}

.l-profile__multi-field > .l-profile__tuple:first-child {
    margin: 0;
}

.l-profile__tuple > h3 {
    box-sizing: border-box;
    margin: 13px 0;
    width: 100%;
    padding: 10px 22px;
    background-color: #fc644c;
    color: white;
}