<div class='l-form__input h-animation-config'>
    <select class='l-form__field h-animation-config l-form__select' data-name='{{title}}'>
        {% for value in values %}
            <option value="{{value}}">{{value}}</option>
        {% endfor %}
    </select>
    <label class='h-animation-config'>
        {{ title }} 
        {% if required %}
            *
        {% endif %}
    </label>
</div>