<div class='l-flex--row-nowrap l-flex--center-center'>
    <img class='c-operation__icon' src='{{url}}' alt='{{name}}'>
    <select class='c-operation__select h-animation-config' data-name="{{name}}" placeholder='{{name}}'>
        {% for value in values %}
            <option value="{{value}}">{{value}}</option>
        {% endfor %}
    </select>
</div>