{% load static %}
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' type='text/css' href="{% static 'css/main.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'css/navbar.css' %}">
<script type='text/javascript' src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/navbar.js' %}"></script>