<div class='l-form__input h-animation-config'>
    {% if required %}
        <input class='l-form__field h-animation-config' name='{{ title }}' type='{{ type }}' placeholder='{{ title }}' required>
    {% else %}
        <input class='l-form__field h-animation-config' name='{{ title }}' type='{{ type }}' placeholder='{{ title }}'>
    {% endif %}
    <label class='h-animation-config'>
        {{ title }}{% if required %}*{% endif %}
    </label>
</div>