<div>
    <h2>
        Barang
    </h2>
    <ul>
        <li>
            <a href='/stuff/item/create/'>
                Tambah
            </a>
        </li>
        <li>
            <a href='/stuff/item/'>
                Daftar
            </a>
        </li>
    </ul>
</div>