

<div id='l-menu' class='h-animation-config' data-state='idle'>
    <button id='c-navbar__menu-back-button' class='l-flex--row-nowrap l-flex--center-center'>
        BACK
    </button>
    <div id='l-navbar__content' data-permission='user' data-state='lost'>
        <div>
            <h2 class='c-list__title'>
                <a href='/' class='c-list__link h-animation-config'>
                    Reviews
                </a>
            </h2>
        </div>
        <div>
            <h2 class='c-list__title'>
                Item
            </h2>
            <ul>
                <li data-permission='admin'>
                    <a href='/stuff/item/create/' class='c-list__link h-animation-config'>
                        Tambah
                    </a>
                </li>
                <li>
                    <a href='/stuff/item/' class='c-list__link h-animation-config'>
                        List
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class='c-list__title'>
                Barang
            </h2>
            <ul>
                <li data-permission='admin'>
                    <a href='/stuff/barang/create/' class='c-list__link h-animation-config'>
                        Tambah
                    </li>
                    </a>
                </li>
                <li>
                    <a href='/stuff/barang/' class='c-list__link h-animation-config'>
                        List
                    </a>
                </li>
            </ul>
        </div>
        <div data-permission='admin'>
            <h2 class='c-list__title'>
                Level
            </h2>
            <ul>
                <li>
                    <a href='/' class='c-list__link h-animation-config'>
                        Tambah
                    </a>
                </li>
                <li>
                    <a href='/' class='c-list__link h-animation-config'>
                        List
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class='c-list__title'>
                Pesanan
            </h2>
            <ul>
                <li>
                    <a href='/' class='c-list__link h-animation-config'>
                        Buat
                    </a>
                </li>
                <li>
                    <a href='/' class='c-list__link h-animation-config'>
                        List
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class='c-list__title'>
                Pengiriman
            </h2>
            <ul>
                <li>
                    <a href='/' class='c-list__link h-animation-config'>
                        Buat
                    </a>
                </li>
                <li>
                    <a href='/' class='c-list__link h-animation-config'>
                        List
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id='c-wall' class='h-animation-config' data-state='unclicked'></div>
<nav id='l-navbar' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
    <div id='l-navbar__left-side' class='l-flex--row-nowrap'>
        <button id='c-navbar__menu-button' class='l-flex--row-nowrap l-flex--center-center l-navbar__box' data-state='unclicked'>
            <h3>
                MENU
            </h3>
        </button>
        <a id='c-navbar__logo' class='l-flex--row-nowrap l-flex--center-center l-navbar__box' href='/'>
            <h1>
                TR
            </h1>
        </a>
    </div>
    <div id='l-navbar__right-side' class='l-flex--row-nowrap'>
        <div id='l-navbar__auth' class='l-flex--row-nowrap'>
            <a href='/user/login/' class='l-auth l-flex--row-nowrap l-flex--center-center l-navbar__box'>
                <h3>
                    REGISTER/LOGIN
                </h3>
            </a>
        </div>
    </div>
</nav>