<div class='l-form__input h-animation-config'>
    <textarea class='l-form__field h-animation-config' name="{{title}}" type='text' placeholder="{{title}}"></textarea>
    <label class='h-animation-config'>
        {{title}}{% if required %}*{% endif %}</label>
</div>