{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Toys Rent - Authentication</title>
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/user-form.css' %}">
        <script type='text/javascript' src="{% static 'js/barang-form.js' %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <div id='l-section__left-side' class='l-flex--row-nowrap l-flex--center-center'>
                <div class='l-section__letter'>
                    <h2 class='c-section__letter'>
                        B
                    </h1>
                </div>
                <div class='l-section__letter'>
                    <h2 class='c-section__letter'>
                        B
                    </h1>
                </div>
            </div>
            <div id='l-section__right-side'>
                <form id='l-form'>{% csrf_token %}
                    <h1 class='c-section__title'>
                        TAMBAH BARANG.
                    </h1>
                    {% include 'reusable-pages/dropdown.html' with title='Nama Item' values=mock_barang_list required=True %}
                    {% include 'reusable-pages/input.html' with title='Warna' type='color' required=True %}
                    {% include 'reusable-pages/input.html' with title='Url Foto' type='text' required=True %}
                    {% include 'reusable-pages/dropdown.html' with title='Kondisi' values=kondisi required=True %}
                    {% include 'reusable-pages/input.html' with title='Lama Peggunaan (hari)' type='number' required=True %}
                    {% include 'reusable-pages/input.html' with title='No. KTP Penyewa' type='number' required=True %}
                    <input type='submit' value='TAMBAH_BARANG'>
                </form>
            </div>
        </section>
    </body>
</html>