{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Toys Rent - Detail Barang</title>
        <!--http://chir.ag/projects/ntc/ntc.js-->
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/user-form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/profile.css' %}">
        <script type='text/javascript' src="{% static 'js/admin-button.js' %}"></script>
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <div id='l-section__left-side' class='l-flex--row-nowrap l-flex--center-center'>
                <div class='l-section__letter'>
                    <h1 class='c-section__letter'>
                        D
                    </h1>
                </div>
                <div class='l-section__letter'>
                    <h1 class='c-section__letter'>
                        D
                    </h1>
                </div>
            </div>
            <div style="display:flex">
                <div id='l-section__right-side'>
                    <div id='l-profile'>
                        <h1 class='c-section__title'>
                            {{ nama_item }}
                        </h1>
                        
                        {% for title, value in profile %}

                            {% include 'reusable-pages/entry-profile.html' with title=title value=value %}
                        {% endfor %}

                        <div id="l-admin__button">
                        </div>
                        <!-- <div class='l-profile__tuple l-flex--row-nowrap l-flex--center-center'>
                            <label>Warna</label>
                            <h3 style="background-color: blue; height: 15px;">
                                
                            </h3>
                        </div>
                        <div class='l-profile__tuple l-flex--row-nowrap l-flex--center-center'>
                            <label>Kondisi </label>
                            <h3>
                                Baik
                            </h3>
                        </div>
                        <div class='l-profile__tuple l-flex--row-nowrap l-flex--center-center'>
                            <label>Lama Penggunaan</label>
                            <h3>
                                6 Tahun
                            </h3>
                        </div>
                        <div class='l-profile__tuple l-flex--row-nowrap l-flex--center-center'>
                            <label>Penyewa</label>
                            <h3>
                                J. Foster
                            </h3>
                        </div> -->
                    
                    </div>
                </div>
                <div style="margin-top:50px; margin-left:-150px">
                    <img src="{{ url_foto }}">
                </div>
            </div>
            
        </section>
    </body>
</html>