{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <!--http://chir.ag/projects/ntc/ntc.js-->
        <title>Toys Rent - Barang List</title>
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/item-display.css' %}">
        <!-- <link rel='stylesheet' type='text/css' href="{% static 'css/form.css' %}"> -->
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <h1 id='l-section__title-art'>
                B
            </h1>
            <div id='l-section__item'>
                <h1 id='c-item__title'>
                    <div id='c-item__rectangle-art'></div>
                    BARANG LIST
                </h1>
                <div id='l-item__data'>
                    <div id='l-item__operation' class='l-flex--row-nowrap l-flex--center-center'>
                        <div id='l-operation__categorizer' class='l-flex--row-nowrap l-flex--center-center'>
                            <img class='c-operation__icon' src='/media/icons/selective.svg' alt='selective'>
                            <input type='text' class='c-operation__select h-animation-config' placeholder='Category'>
                        </div>
                        <div id='l-operation__sorter' class='l-flex--row-nowrap l-flex--center-center'>
                            <img class='c-operation__icon' src='/media/icons/sort.svg' alt='sorter'>
                            <input type='text' class='c-operation__select h-animation-config' placeholder='Sorter'>
                        </div>
                    </div>
                    <table id='l-item__table'>
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th id='c-table__nama'>
                                    Nama Item
                                </th>
                                <th id='c-table__category'>
                                    Warna
                                </th>
                                <th id='c-table__category'>
                                    Sedang Disewa
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for barang in table %}
                            <tr onclick="document.location='/stuff/barang/{{ barang.id_barang }}'">
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ barang.nama_item }}
                                </td>
                                <td>
                                    {{ barang.warna }}
                                </td>
                                <td>
                                    {{ barang.nama_lengkap }}
                                </td>
                                <td class='l-circle-art l-flex--row-nowrap l-flex--center-center'>
                                    <a class='c-table__update-button c-circle-art l-flex--row-nowrap l-flex--center-center' href='/stuff/barang/create/{{forloop.counter}}'>U</a>
                                    <a class='c-table__delete-button c-circle-art l-flex--row-nowrap l-flex--center-center' href='/stuff/barang/delete/{{forloop.counter}}'>D</a>
                                </td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>