{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Toys Rent - Item List</title>
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/item-display.css' %}">
        <script type='text/javascript' src="{% static 'js/item-list.js' %}"></script>
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <h1 id='l-section__title-art'>
                I
            </h1>
            <div id='l-section__item'>
                <h1 id='c-item__title'>
                    <div id='c-item__rectangle-art'></div>
                    ITEM LIST
                </h1>
                <div id='l-item__data'>
                    <div id='l-item__operation' class='l-flex--row-nowrap l-flex--center-center'>
                        {% include 'reusable-pages/dropdown-tool.html' with name='category' url='/media/icons/selective.svg' values=category %}
                        {% include 'reusable-pages/dropdown-tool.html' with name='sorter' url='/media/icons/sort.svg' values=sort %}
                        <button id='c-operation__prev-page'>
                            PREV
                        </button>
                        <button id='c-operation__next-page'>
                            NEXT
                        </button>
                    </div>
                    <table id='l-item__table'>
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th id='c-table__nama'>
                                    Nama
                                </th>
                                <th id='c-table__category'>
                                    Category
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>