{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Toys Rent - Item Form</title>
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/user-form.css' %}">
        <script type='text/javascript' src="{% static 'js/item-form.js' %}"></script>
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <div id='l-section__left-side' class='l-flex--row-nowrap l-flex--center-center'>
                <div class='l-section__letter'>
                    <h2 class='c-section__letter'>
                        I
                    </h1>
                </div>
                <div class='l-section__letter'>
                    <h2 class='c-section__letter'>
                        I
                    </h1>
                </div>
            </div>
            <div id='l-section__right-side'>
                <form id='l-form'>
                    {% csrf_token %}
                    <h1 class='c-section__title'>
                        ITEM
                    </h1>
                    {% include 'reusable-pages/input.html' with title='Nama' type='text' required=True %}
                    {% include 'reusable-pages/textbox.html' with title='Deskripsi' required=True %}
                    <div id='l-form__age' class="l-form__multi-field l-form__input l-flex--row-nowrap l-flex--center-center">
                        <input class='l-form__field h-animation-config' name='Usia Minimal' type='text' placeholder='Usia minimal'>
                        <input class='l-form__field h-animation-config' name='Usia Maksimal' type='text' placeholder='Usia maksimal'>
                        <label class='h-animation-config'>Rentang usia*</label>
                    </div>
                    {% include 'reusable-pages/input.html' with title='Bahan' type='text' required=True %}
                    {% include 'reusable-pages/dropdown.html' with title='Kategori' values=category %}
                    <input type='submit' value='SUBMIT'>
                    {% include 'reusable-pages/message.html' %}
                </form>
            </div>
        </section>
    </body>
</html>