{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Toys Rent - Admin Form</title>
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/user-form.css' %}">
        <script type='text/javascript' src="{% static 'js/user-form.js' %}"></script>
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <div id='l-section__left-side' class='l-flex--row-nowrap l-flex--center-center'>
                <div class='l-section__letter'>
                    <h1 class='c-section__letter'>
                        A
                    </h1>
                </div>
                <div class='l-section__letter'>
                    <h1 class='c-section__letter'>
                        A
                    </h1>
                </div>
            </div>
            <div id='l-section__right-side'>
                <form id='l-form' method='POST' data-user='ADMIN' onsubmit='return false'>
                    {% csrf_token %}
                    <h1 class='c-section__title'>
                        ADMIN
                    </h1>
                    {% include 'reusable-pages/input.html' with title='No. KTP' type='number' required=True %}
                    {% include 'reusable-pages/input.html' with title='Nama Lengkap' type='text' required=True %}
                    {% include 'reusable-pages/input.html' with title='Email' type='email' required=True %}
                    {% include 'reusable-pages/input.html' with title='Tanggal Lahir' type='date' required=False %}
                    {% include 'reusable-pages/input.html' with title='Nomor Telepon' type='number' required=False %}
                    <input type='submit' value='SUBMIT'>
                    {% include 'reusable-pages/message.html' %}
                </form>
            </div>
        </section>
    </body>
</html>