{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Toys Rent - Member Form</title>
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/user-form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/member-form.css' %}">
        <script type='text/javascript' src="{% static 'js/user-form.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/member-form.js' %}"></script>
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <div id='l-section__left-side' class='l-flex--row-nowrap l-flex--center-center'>
                <div class='l-section__letter'>
                    <h1 class='c-section__letter'>
                        M
                    </h1>
                </div>
                <div class='l-section__letter'>
                    <h1 class='c-section__letter'>
                        M
                    </h1>
                </div>
            </div>
            <div id='l-section__right-side'>
                <form id='l-form' data-user='MEMBER'>{% csrf_token %}
                    <h1 class='c-section__title'>
                        MEMBER
                    </h1>
                    {% include 'reusable-pages/input.html' with title='No. KTP' type='number' required=True %}
                    {% include 'reusable-pages/input.html' with title='Nama Lengkap' type='text' required=True %}
                    {% include 'reusable-pages/input.html' with title='Email' type='email' required=True %}
                    {% include 'reusable-pages/input.html' with title='Tanggal Lahir' type='date' required=False %}
                    {% include 'reusable-pages/input.html' with title='Nomor Telepon' type='number' required=False %}
                    <div id='l-form__addresses' class='l-flex--column-nowrap'>
                        <label class='h-animation-config'>Alamat</label>
                        <div class="l-form__multi-field l-form__address l-flex--row-nowrap l-flex--center-center">
                            <input class='l-form__field h-animation-config' type='text' name='Tempat' placeholder='Tempat'>
                            <input class='l-form__field h-animation-config' type='text' name='Jalan' placeholder='Jalan'>
                            <input class='l-form__field h-animation-config' type='number' name='Nomor' placeholder='Nomor'>
                            <input class='l-form__field h-animation-config' type='text' name='Kota' placeholder='Kota'>
                            <input class='l-form__field h-animation-config' type='text' name='Kodepos' placeholder='Kodepos'>
                        </div>
                        <button id='l-form__address-adder' class='l-flex--row-nowrap l-flex--center-center'>
                            <div class='c-address-updater__circle-art l-flex--row-nowrap l-flex--center-center'>
                                +
                            </div>
                            <label>ALAMAT</label>
                        </button>
                    </div>
                    <input type='submit' value='SUBMIT'>
                    {% include 'reusable-pages/message.html' %}
                </form>
            </div>
        </section>
    </body>
</html>