{% load static %}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>Toys Rent - Profile</title>
        {% include 'reusable-pages/header.html' %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/user-form.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static 'css/profile.css' %}">
    </head>
    <body>
        {% include 'reusable-pages/navbar.html' %}
        <section id='l-section' class='l-flex--row-nowrap h-animation-config' data-state='idle'>
            <div id='l-section__left-side' class='l-flex--row-nowrap l-flex--center-center'>
                <div class='l-section__letter'>
                    <h2 class='c-section__letter'>
                        P
                    </h1>
                </div>
                <div class='l-section__letter'>
                    <h2 class='c-section__letter'>
                        P
                    </h1>
                </div>
            </div>
            <div id='l-section__right-side'>
                <div id='l-profile'>
                    <h1 class='c-section__title'>
                        {% if member %}
                            MEMBER
                        {% else%}
                            ADMIN
                        {% endif %}
                    </h1>
                    {% for title, value in profile %}
                        {% include 'reusable-pages/entry-profile.html' with title=title value=value %}
                    {% endfor %}
                    {% if member %}
                        {% for title, value in member %}
                            {% include 'reusable-pages/entry-profile.html' with title=title value=value %}
                        {% endfor %}
                        <div id='l-profile__addresses' class='l-flex--column-nowrap'>
                            <label class='h-animation-config'>Alamat</label>
                            {% for alamat in semua_alamat %}
                                <div class="l-profile__multi-field l-profile__address l-flex--row-nowrap l-flex--center-center">
                                    <div class='l-profile__tuple'>
                                        <h3>
                                            {{ alamat.nama }}
                                        </h3>
                                    </div>
                                    <div class='l-profile__tuple'>
                                        <h3>
                                            {{ alamat.jalan }}
                                        </h3>
                                    </div>
                                    <div class='l-profile__tuple'>
                                        <h3>
                                            {{ alamat.nomor }}
                                        </h3>
                                    </div>
                                    <div class='l-profile__tuple'>
                                        <h3>
                                            {{ alamat.kota }}
                                        </h3>
                                    </div>
                                    <div class='l-profile__tuple'>
                                        <h3>
                                            {{ alamat.kodepos }}
                                        </h3>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </body>
</html>